## Day 20 作業：將 missing 值替代為其他值

由於現實世界中的資料可能有缺漏，因此資料中就會有 missing 值存在，而在資料科學及機器學習中，缺漏值的處理關係到分析或預測的結果。

在今天的作業中，請將資料集中的年齡缺漏值，依性別分別替換為資料集中男性或女性的年齡平均值。

本次作業使用的資料集：Kaggle Titanic: Machine Learning from Disaster 的 train 資料集

競賽主頁：[https://www.kaggle.com/c/titanic/overview](https://www.kaggle.com/c/titanic/overview)

請自行下載資料集 **train.csv**：[https://www.kaggle.com/c/titanic/data](https://www.kaggle.com/c/titanic/data)

In [76]:
using DataFrames, CSV, Missings

In [154]:
df = CSV.read("train.csv")

┌ Warning: `CSV.read(input; kw...)` is deprecated in favor of `DataFrame!(CSV.File(input; kw...))`
└ @ CSV C:\Users\user\.julia\packages\CSV\UWuB2\src\CSV.jl:40

891×12 DataFrame. Omitted printing of 9 columns
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 1           │ 0        │ 3      │
│ 2   │ 2           │ 1        │ 1      │
│ 3   │ 3           │ 1        │ 3      │
│ 4   │ 4           │ 1        │ 1      │
│ 5   │ 5           │ 0        │ 3      │
│ 6   │ 6           │ 0        │ 3      │
│ 7   │ 7           │ 0        │ 1      │
│ 8   │ 8           │ 0        │ 3      │
│ 9   │ 9           │ 1        │ 3      │
│ 10  │ 10          │ 1        │ 2      │
⋮
│ 881 │ 881         │ 1        │ 2      │
│ 882 │ 882         │ 0        │ 3      │
│ 883 │ 883         │ 0        │ 3      │
│ 884 │ 884         │ 0        │ 2      │
│ 885 │ 885         │ 0        │ 3      │
│ 886 │ 886         │ 0        │ 3      │
│ 887 │ 887         │ 0        │ 2      │
│ 888 │ 888         │ 1        │ 1      │
│ 889 │ 889         │ 0        │ 3      │
│ 890 │ 890         │ 1        │ 1      │
│ 891 │ 891         │ 0        │ 3      │

In [3]:
size(df)

(891, 12)

呼叫 `describe()` 函式時，加上 `:nmissing` 參數，顯示各 column 的 missing 值數目。

可以看到 Age 共有 177 個缺漏值。

In [4]:
describe(df, :nmissing)

12×2 DataFrame
│ Row │ variable    │ nmissing │
│     │ Symbol      │ Union…   │
├─────┼─────────────┼──────────┤
│ 1   │ PassengerId │          │
│ 2   │ Survived    │          │
│ 3   │ Pclass      │          │
│ 4   │ Name        │          │
│ 5   │ Sex         │          │
│ 6   │ Age         │ 177      │
│ 7   │ SibSp       │          │
│ 8   │ Parch       │          │
│ 9   │ Ticket      │          │
│ 10  │ Fare        │          │
│ 11  │ Cabin       │ 687      │
│ 12  │ Embarked    │ 2        │

計算男性及女性的平均年齡。

【提示】使用 `skipmissing()` 去掉缺漏值後，再計算平均值。

In [155]:
using Statistics
gp = groupby(df,["Sex"], sort=true)

GroupedDataFrame with 2 groups based on key: Sex
First Group (314 rows): Sex = "female". Omitted printing of 9 columns
│ Row │ PassengerId │ Survived │ Pclass │
│     │ Int64       │ Int64    │ Int64  │
├─────┼─────────────┼──────────┼────────┤
│ 1   │ 2           │ 1        │ 1      │
│ 2   │ 3           │ 1        │ 3      │
│ 3   │ 4           │ 1        │ 1      │
│ 4   │ 9           │ 1        │ 3      │
│ 5   │ 10          │ 1        │ 2      │
│ 6   │ 11          │ 1        │ 3      │
│ 7   │ 12          │ 1        │ 1      │
│ 8   │ 15          │ 0        │ 3      │
│ 9   │ 16          │ 1        │ 2      │
│ 10  │ 19          │ 0        │ 3      │
⋮
│ 304 │ 866         │ 1        │ 2      │
│ 305 │ 867         │ 1        │ 2      │
│ 306 │ 872         │ 1        │ 1      │
│ 307 │ 875         │ 1        │ 2      │
│ 308 │ 876         │ 1        │ 3      │
│ 309 │ 880         │ 1        │ 1      │
│ 310 │ 881         │ 1        │ 2      │
│ 311 │ 883         │ 0        │ 3      │
│ 312 │ 886         │ 0        │ 3      │
│ 313 │ 888         │ 1        │ 1      │
│ 314 │ 889         │ 0        │ 3      │
⋮
Last Group (577 rows): Sex = "male". Omitted printing of 8 columns
│ Row │ PassengerId │ Survived │ Pclass │ Name                           │
│     │ Int64       │ Int64    │ Int64  │ String                         │
├─────┼─────────────┼──────────┼────────┼────────────────────────────────┤
│ 1   │ 1           │ 0        │ 3      │ Braund, Mr. Owen Harris        │
│ 2   │ 5           │ 0        │ 3      │ Allen, Mr. William Henry       │
│ 3   │ 6           │ 0        │ 3      │ Moran, Mr. James               │
│ 4   │ 7           │ 0        │ 1      │ McCarthy, Mr. Timothy J        │
│ 5   │ 8           │ 0        │ 3      │ Palsson, Master. Gosta Leonard │
│ 6   │ 13          │ 0        │ 3      │ Saundercock, Mr. William Henry │
│ 7   │ 14          │ 0        │ 3      │ Andersson, Mr. Anders Johan    │
│ 8   │ 17          │ 0        │ 3      │ Rice, Master. Eugene           │
│ 9   │ 18          │ 1        │ 2      │ Williams, Mr. Charles Eugene   │
│ 10  │ 21          │ 0        │ 2      │ Fynney, Mr. Joseph J           │
⋮
│ 567 │ 873         │ 0        │ 1      │ Carlsson, Mr. Frans Olof       │
│ 568 │ 874         │ 0        │ 3      │ Vander Cruyssen, Mr. Victor    │
│ 569 │ 877         │ 0        │ 3      │ Gustafsson, Mr. Alfred Ossian  │
│ 570 │ 878         │ 0        │ 3      │ Petroff, Mr. Nedelio           │
│ 571 │ 879         │ 0        │ 3      │ Laleff, Mr. Kristo             │
│ 572 │ 882         │ 0        │ 3      │ Markun, Mr. Johann             │
│ 573 │ 884         │ 0        │ 2      │ Banfield, Mr. Frederick James  │
│ 574 │ 885         │ 0        │ 3      │ Sutehall, Mr. Henry Jr         │
│ 575 │ 887         │ 0        │ 2      │ Montvila, Rev. Juozas          │
│ 576 │ 890         │ 1        │ 1      │ Behr, Mr. Karl Howell          │
│ 577 │ 891         │ 0        │ 3      │ Dooley, Mr. Patrick            │

In [156]:
dfm = gp[2]
male_age_avg = combine([:Age] => (a) -> (Age_mean=mean(skipmissing(a))),dfm)# 請輸入程式碼

1×1 DataFrame
│ Row │ Age_function │
│     │ Float64      │
├─────┼──────────────┤
│ 1   │ 30.7266      │

In [157]:
dff = gp[1]
female_age_avg = combine([:Age] => (a) -> (Age_mean=mean(skipmissing(a))),dff)# 請輸入程式碼

1×1 DataFrame
│ Row │ Age_function │
│     │ Float64      │
├─────┼──────────────┤
│ 1   │ 27.9157      │

將 Age column 中的 missing 值，依性別替換為上面計算出來的平均年齡值。

【提示】可產生新的 column 來存放新的結果，而不取代掉原先的 Age column。

In [167]:
dfm2 = copy(dfm)
dfmA = coalesce.(dfm2[:Age], male_age_avg)
dfmA = combine(dfmA,:Age_function => mean => :New_AverageAge)

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[167]:2
└ @ Core In[167]:2

1×1 DataFrame
│ Row │ New_AverageAge │
│     │ Float64        │
├─────┼────────────────┤
│ 1   │ 30.7266        │

In [166]:
dff2 = copy(dff)
dffA = coalesce.(dff2[:Age], female_age_avg)
dffA2 = combine(dffA,:Age_function => mean => :New_AverageAge)

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[166]:2
└ @ Core In[166]:2

1×1 DataFrame
│ Row │ New_AverageAge │
│     │ Float64        │
├─────┼────────────────┤
│ 1   │ 27.9157        │